# Code wars challenges

### Count vowels in sentence

In [34]:
def get_count(sentence):
    newstring = ''.join(sentence.split())
    count = 0
    for char in newstring:
        if char == 'a' or char == 'e' or char == 'i' or char == 'o' or char == 'u':
            count += 1
    return count

In [38]:
test = 'this is a test string'
# result should be 5

In [39]:
get_count(test)

5

In [ ]:
def disemvowel(string_):
    vowelsdict = {'a':'', 'e':'', 'i':'', 'o':'', 'u':'',
                 'A':'', 'E':'', 'I':'', 'O':'', 'U':'',}
    translateTable = string_.maketrans(vowelsdict)
    return string_.translate(translateTable)

### Square every digit in a number

In [48]:
num  = 9119
list1 = list(str(num))
list1

['9', '1', '1', '9']

In [59]:
nlist=[]
for num in list1:
    squareDigit = int(num)**2
    nlist.append(str(squareDigit))

nlist

['81', '1', '1', '81']

In [55]:
for num in nlist:
    ''.join(num)

811181

### Sum of multiples of 3 and 5 lower than x

In [8]:
num = -10

In [9]:
[x for x in range(num) if x % 3 == 0 or x % 5 == 0]

[]

In [33]:
num = 10
a =list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
bool([0,1,2,3])

True

In [24]:
num = -10

In [30]:
def numfunc(num):
    listOfNum = [x for x in range(num) if x % 3 == 0 or x % 5 == 0]
    if listOfNum:
        return sum(listOfNum[1:])
    else:
        return 0

In [31]:
numfunc(10)

23

### Create a phone number from list of numbers

In [48]:
phone_list = [1,2,3,4,5,6,7,8,9,0,]

In [44]:
print(f'({phone_list[0:3]}) {phone_list[3:6]}-{phone_list[6:]}')

([1, 2, 3]) [4, 5, 6]-[7, 8, 9, 0]

In [56]:
[''.join(str(num)) for num in phone_list]

['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']

OR

In [63]:
list_string = list(map(str ,phone_list))
list_string

['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']

In [64]:
''.join(list(list_string))

'1234567890'

In [65]:
''.join(list(list_string)[0:3])

'123'

In [66]:
def create_phone_number(n):
    string_list = list(map(str, n))
    first_part = ''.join(string_list[0:3])
    second_part = ''.join(string_list[3:6])
    third_part = ''.join(string_list[6:])
    print(f'({first_part}) {second_part}-{third_part}')

In [67]:
n = [1,2,3,4,5,6,7,8,9,0,]
create_phone_number(n)

(123) 456-7890

### Who Likes IT?

In [69]:
list_of_names = ['alex','jacob','Mia']

In [ ]:
def generate_name(list_)s:
    iterator = iter(list_)

In [72]:
iterator = iter(list_of_names)

In [76]:
next(iterator)

StopIteration:

In [77]:
len(list_of_names)

3

In [78]:
a = 'sdfsdfs'

In [ ]:
a.maketrans
a.replace

### Snail Ordering

In [31]:
data = [[1, 2, 3, 4],
        [12, 13, 14, 5],
        [11, 16, 15, 6],
        [10, 9, 8, 7]]

data2 = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

expected = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
expected2 = [1, 2, 3, 6, 9, 8, 7, 4, 5]

In [18]:
unit_test = [[12, 13, 14, 5],
            [11, 16, 15, 6],
            [10, 9, 8, 7]]

len(unit_test)

test=[]
for row in unit_test:
    test += [row[-1]]
    print(test)
    del [unit_test[-1]]
    
if unit_test[-1]:
    test += unit_test[-1][::-1]
    print(test)
    del unit_test[-1]

print(unit_test)

[5]
[5, 6]
[5, 6, 5, 14, 13, 12]
[]

In [11]:
unit_test[-1][::-1]

[7, 8, 9, 10]

In [27]:
unit_test = [[1, 2, 3, 4],
        [12, 13, 14, 5],
        [11, 16, 15, 6],
        [10, 9, 8, 7]]


def SuperSnail(unit_test):
    result = []
    while len(unit_test) > 0: # go right
        result += unit_test[0]
        del unit_test[0]
        #print(result)
        #print(unit_test)

        if len(unit_test) > 0: # go down
            for row in unit_test:
                result += [row[-1]]
                del [row[-1]]
                #print(result)
                #print(unit_test)

            if unit_test[-1]: # go left
                result += unit_test[-1][::-1]
                del unit_test[-1]
                #print(result)
                #print(unit_test)

            for row in reversed(unit_test): # go up
                result += [row[0]]
                del row[0]
                #print(result)
                #print(unit_test)

    return result
result

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [32]:
SuperSnail(unit_test)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

### Human readable duration format

In [39]:
data = 62 # seconds
expected = '1 minute and 2 seconds'

data2 = 3662
expected2 = '1 hour, 1 minute and 2 seconds'

In [198]:
def formatduration(seconds):
    
    DD, Drem = seconds // (24 * 3600), (seconds / (24 *3600)) % 1
    HH, Hrem =  int(DD * 24), ( Drem * 24) % 1
    MM, Mrem = int(Hrem * 60), (Hrem * 60) % 1
    SS = round(Mrem * 60)
    
    return '{dayVal}{pluralD}{hourVal}{pluralH}{minuteVal}{pluralM}{secondVal}{pluralS}'.format(dayVal = str(DD)+' day' if DD > 0 else '',
                                                                                                pluralD = 's' if DD > 1 else '',
                                                                                                hourVal = ' '+str(HH)+' hour' if HH > 0 else '',
                                                                                                pluralH = 's' if HH > 1 else '',
                                                                                                minuteVal = ' '+str(int(MM))+' minute' if MM > 0 else '',
                                                                                                pluralM = 's' if MM > 1 else '',
                                                                                                secondVal = ' '+str(SS) + ' second'if SS > 0 else '',
                                                                                                pluralS = 's' if SS > 1 else '')

In [153]:
seconds = 62
HH, Hrem = seconds // 3600, seconds / 3600 % 1
MM, Mrem = int(Hrem * 60), (Hrem * 60) % 1
MM,Mrem

(1, 0.033333333333333215)

In [35]:
SS = round(Mrem * 60)
SS

2

In [202]:
seconds = 300000000

formatduration(seconds)

'3472 days 83328 hours 19 minutes 60 seconds'

In [201]:
seconds = 300000000

format_duration(seconds)

31536000 year
['9 years']
86400 day
['9 years', '187 days']
3600 hour
['9 years', '187 days', '5 hours']
60 minute
['9 years', '187 days', '5 hours', '20 minutes']
1 second

'9 years, 187 days, 5 hours and 20 minutes'

Other from git  
The way this one works is it looks at total seconds and checks if they are greater than number of seconds in: 1 year, 1 day, 1 hour, 1 minute, and 1 second through a for loop. If it is greater, then calculates number of respective time and adds to a list, before adding, runs a pluralize function to plural the time or not. Finnally, it subtracts the time in seconds it just added to the list, and continues the loop, until reaching the degree of second.

Last is a super compact f string that adds the list of numbers and words

In [199]:
def pluralize(n, word):
    if n == 1:
        return '{} {}'.format(n, word)
        
    return '{} {}s'.format(n, word)
        
def format_duration(seconds):
    if seconds == 0:
        return "now"
    
    ONE_MINUTE = 60
    ONE_HOUR = 60 * ONE_MINUTE
    ONE_DAY = 24 * ONE_HOUR
    ONE_YEAR = 365 * ONE_DAY
    
    units = (
        (ONE_YEAR, 'year'),
        (ONE_DAY, 'day'),
        (ONE_HOUR, 'hour'),
        (ONE_MINUTE, 'minute'),
        (1, 'second'),
    )
        
    r = []
    for unit in units:
        time_period, word = unit
        print(time_period, word)
        if seconds >= time_period:
            n = int(seconds / time_period)
            r.append(pluralize(n, word))
            print(r)
            seconds -= n * time_period
    
    return ' and'.join(', '.join(r).rsplit(',', 1))

In [203]:
r = ['9 years', '187 days', '5 hours', '20 minutes']

joins all elements in list with `', '` then separates last element by the `','` just added

In [204]:
a =', '.join(r).rsplit(',',1)
a

['9 years, 187 days, 5 hours', ' 20 minutes']

Joins the last element with an `' and'`

In [205]:
' and'.join(a)

'9 years, 187 days, 5 hours and 20 minutes'

In [200]:
seconds = 121

format_duration(seconds)

31536000 year
86400 day
3600 hour
60 minute
['2 minutes']
1 second
['2 minutes', '1 second']

'2 minutes and 1 second'

#### Lessons learned: 
If code is repeating more than once/twice, make a generic function like for `pluralize` situation that solves it.  
If we have several variables that operate on, make a list of them and iterate over. Also good to then print with join.  
Don't get stuck in a single method/function and try to force it to work. Make an overall requirements list, and try to see how several options/functions might go about it. Here got stuck on the `.format()` method, even though it was not even needed.

### Sudoku validator

Must not contain any '0'.  
Each row and column must have all the digits from 1 to 9.

In [284]:
data = [
  [5, 3, 4, 6, 7, 8, 9, 1, 2],
  [6, 7, 2, 1, 9, 5, 3, 4, 8],
  [1, 9, 8, 3, 4, 2, 5, 6, 7],
  [8, 5, 9, 7, 6, 1, 4, 2, 3],
  [4, 2, 6, 8, 5, 3, 7, 9, 1],
  [7, 1, 3, 9, 2, 4, 8, 5, 6],
  [9, 6, 1, 5, 3, 7, 2, 8, 4],
  [2, 8, 7, 4, 1, 9, 6, 3, 5],
  [3, 4, 5, 2, 8, 6, 1, 7, 9]
]

expected = True

data2 = [
  [5, 3, 4, 6, 7, 8, 9, 1, 2], 
  [6, 7, 2, 1, 9, 0, 3, 4, 8],
  [1, 0, 0, 3, 4, 2, 5, 6, 0],
  [8, 5, 9, 7, 6, 1, 0, 2, 0],
  [4, 2, 6, 8, 5, 3, 7, 9, 1],
  [7, 1, 3, 9, 2, 4, 8, 5, 6],
  [9, 0, 1, 5, 3, 7, 2, 1, 4],
  [2, 8, 7, 4, 1, 9, 6, 3, 5],
  [3, 0, 0, 4, 8, 1, 1, 7, 9]
]

expected2 = False

In [236]:
data2[1].count(0)

1

In [249]:
data_set = set(data2[-1])

len(data_set)==len(data2[-1])

False

In [250]:
# check for 0's

for num in data2:
    print(num)
    if 0 in num:
        print (False)
    else:
        print (True)

[5, 3, 4, 6, 7, 8, 9, 1, 2]
True
[6, 7, 2, 1, 9, 0, 3, 4, 8]
False
[1, 0, 0, 3, 4, 2, 5, 6, 0]
False
[8, 5, 9, 7, 6, 1, 0, 2, 0]
False
[4, 2, 6, 8, 5, 3, 7, 9, 1]
True
[7, 1, 3, 9, 2, 4, 8, 5, 6]
True
[9, 0, 1, 5, 3, 7, 2, 1, 4]
False
[2, 8, 7, 4, 1, 9, 6, 3, 5]
True
[3, 0, 0, 4, 8, 1, 1, 7, 9]
False

In [251]:
# Check rows for duplicates
for row in data2:
    print(row)
    print( len(row) == len(set(row)))

[5, 3, 4, 6, 7, 8, 9, 1, 2]
True
[6, 7, 2, 1, 9, 0, 3, 4, 8]
True
[1, 0, 0, 3, 4, 2, 5, 6, 0]
False
[8, 5, 9, 7, 6, 1, 0, 2, 0]
False
[4, 2, 6, 8, 5, 3, 7, 9, 1]
True
[7, 1, 3, 9, 2, 4, 8, 5, 6]
True
[9, 0, 1, 5, 3, 7, 2, 1, 4]
False
[2, 8, 7, 4, 1, 9, 6, 3, 5]
True
[3, 0, 0, 4, 8, 1, 1, 7, 9]
False

In [281]:
# transpose the list of lists with zip 

data2_T =list(zip(*data2))
data2_T

[(5, 6, 1, 8, 4, 7, 9, 2, 3),
 (3, 7, 0, 5, 2, 1, 0, 8, 0),
 (4, 2, 0, 9, 6, 3, 1, 7, 0),
 (6, 1, 3, 7, 8, 9, 5, 4, 4),
 (7, 9, 4, 6, 5, 2, 3, 1, 8),
 (8, 0, 2, 1, 3, 4, 7, 9, 1),
 (9, 3, 5, 0, 7, 8, 2, 6, 1),
 (1, 4, 6, 2, 9, 5, 1, 3, 7),
 (2, 8, 0, 0, 1, 6, 4, 5, 9)]

In [276]:
# check columns for duplicates
for col in data2_T:
    print(col)
    print( len(col) == len(set(col)))

(5, 6, 1, 8, 4, 7, 9, 2, 3)
True
(3, 7, 0, 5, 2, 1, 0, 8, 0)
False
(4, 2, 0, 9, 6, 3, 1, 7, 0)
False
(6, 1, 3, 7, 8, 9, 5, 4, 4)
False
(7, 9, 4, 6, 5, 2, 3, 1, 8)
True
(8, 0, 2, 1, 3, 4, 7, 9, 1)
False
(9, 3, 5, 0, 7, 8, 2, 6, 1)
True
(1, 4, 6, 2, 9, 5, 1, 3, 7)
False
(2, 8, 0, 0, 1, 6, 4, 5, 9)
False

In [334]:
# compress to a comprehension
check_zeros = [True for num in data if 0 in num]
check_zeros

[]

In [335]:
not any(check_zeros)

True

In [319]:
check_row_dupes = [len(row) == len(set(row)) for row in data]
check_row_dupes

[True, True, True, True, True, True, True, True, True]

In [320]:
all(check_row_dupes)

True

In [333]:
data2_T =list(zip(*data))
check_col_dupes = [len(col) == len(set(col)) for col in data2_T]
check_col_dupes

[True, True, True, True, True, True, True, True, True]

In [328]:
def valid_solution(board):
    # transpose board
    board_T =list(zip(*board))
    
    check_zeros = [True for row in board if 0 in row]
        
    check_row_dupes = [len(row) == len(set(row)) for row in board]
    
    check_col_dupes = [len(col) == len(set(col)) for col in board_T]
    
    return not any(check_zeros) and all(check_row_dupes) and all(check_col_dupes)

In [329]:
valid_solution(data)

True

In [330]:
valid_solution(data2)

False

In [332]:
True and False and True

False